body{
    margin: 0;
}

:root{
    --primary: #2d7b49;
    --accent: #729f81;
}

div.parallax1 {
    overflow: hidden;
    /* The image used */
    background-image: url("../images/b01.jpg");
  
    /* Set a specific height */
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.parallax2 {
    overflow: hidden;
    /* The image used */
    background-image: url("../images/b02.jpg");
  
    /* Set a specific height */
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.parallax3 {
    overflow: hidden;
    /* The image used */
    background-image: url("../images/b03.jpg");
  
    /* Set a specific height */
    min-height: 550px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.link-container{
    height:720px;
    background-color:var(--primary);
    font-size:36px;
    padding: 20px;
    overflow: hidden;
}

div.flex-product-container{
    display: flex;
}

div.flex-product-container > div{
    display: block;
    background-color: #f1f1f1;
    padding: 15px;
    margin: 20px;
    font-size: 30px;
    width: 40%;
    height: 650px;
    line-height: 30px;
}

.img-blogs{
    width: 100%;
    height: 220px;
}
