.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: ivory;
    transition-duration: 0.4s;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, .15);
    background-blend-mode: lighten;
  }

@media (max-width: 800px) {
    .product-flex {
      flex-direction: column;
    }
}
.contact {
    background-color: ivory;
}
button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    transition-duration: 0.4s;
    font-size: 16px;
    margin: 10px;
    margin-left: 0;
    width: 20%;
}

.formdiv {
    background-color: #3a783c;
    padding: 80px;
    padding-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 30px;
    border-radius: 10px;
    opacity: 95%;
}

.form {
    display: flex;
    flex-direction: column;
}

.text {
    margin-top: 10px;
    margin-bottom: 25px;
    height: 25px;
    font-size: 20px;
    padding: 10px;
    resize: none;
    border-radius: 10px;
}

#message {
    height: 200px;
    resize: vertical;
}

label {
    margin-left: 0;
    color: ivory;
}

button {
    background-color: transparent;
    border: 2px solid ivory;
    color: ivory;
}
  
button:hover {
    background-color: ivory;
    color: #2d7b49;
}

h1 {
    text-align: center;
    color: ivory;
    font-size: 30px;
    margin: 10px;
    text-shadow: 2px 2px #3a783c;
}

#contactdetail {
    margin-top: 20px;
    padding: 30px;
}

.form2 {
    display: flex;
    flex-direction: row;
}