.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: ivory;
    transition-duration: 0.4s;
    margin-top: 9%;
  }
  
.dashnav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color:#2d7b49;
    width: 20%;
}

.feature {
    background-color: #3a783c;
    margin-left: 0;
    padding: 3%s;
    border-radius: 10px;
    opacity: 95%;
    width: 700px;
  }

  .featureddiv {
    padding: 20px;
     display: flex;
     flex-direction: row;
   }

   .product-flex {
    flex-direction: column;
    flex: 50%;
  }

