:root{
    --primary: #2d7b49;
    --accent: #729f81;
}

body{
    color: white;
}

div.login-container{
    margin: 15% auto;
    display: block;
    width:500px;
    text-align:center;
    background-color: var(--primary);
    overflow: hidden;
    border: 10px solid var(--accent);
}

div.sign-container{
    margin: 10% auto;
    display: block;
    width:500px;
    text-align:center;
    background-color: var(--primary);
    overflow: hidden;
    border: 10px solid var(--accent);
}