.navbar {
    overflow: hidden;
    border-bottom: solid 1px rgb(93,93,93);
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    z-index: 100;
    background-color: white;
  }
  
  .navbar-right {
    float: right;
  }
  
  .navbar ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  .navbar li {
    float: right;
    display: block;
    padding: 1%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: #3a783c;
  }
  
  .navbar a:hover {
    background-color:#2d7b49;
    color: white;
  }
  
  .navbar img{
    margin: 20px;
  }

  .footer {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: ivory;
    background-color: #3a783c;
    text-shadow: 2px 2px #729f81;
    text-align: center;
  }