:root{
    --primary: #2d7b49;
    --accent: #729f81;
}

div.desc-container{
    background-color: var(--primary);
    margin: 70px;
    height: 80px;
    padding: 10px;
}

div.product-container{
    overflow: hidden;
    background-color: var(--primary);
    margin: 70px;
}

div.flex-product-container{
    display: flex;
    background-color: var(--accent);
}

div.flex-product-container > div{
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 30px;
    width: 32%;
    height: 20%;
}

.img-button{
    width: 100%;
}
