.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    transition-duration: 0.4s;
    background-image: url('background.jpg');
    background-color: rgba(255,255,255,0.2);
    background-blend-mode: lighten;
    background-size: cover;
  }

.descdiv{
  display: flex;
  flex-direction: row;
  text-align: justify;
  text-justify: inter-word;
}

.descdiv p{
  padding: 3%;
}
.product-flex {
    flex-direction: row;
    flex: 50%;
  }

.recipe-flex {
  flex: 50%;
}

  @media (max-width: 800px) {
    .product-flex {
      flex-direction: column;
    }
  }

  .featureddiv {
   padding: 20px;

    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .welcomediv {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

    font-size: 40px;
    color: #3a783c;
    text-shadow: 2px 2px ivory;
    
  }

  button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    transition-duration: 0.4s;
    font-size: 16px;
    margin: 10px;
  }

.welcomediv button {
  background-color: transparent;
  border: 2px solid #2d7b49;
  color: #2d7b49;
}

.welcomediv button:hover {
  background-color: #2d7b49;
  color: ivory;
}

.descriptiondiv button {
  background-color: transparent;
  border: 2px solid ivory;
  color: ivory;
}

.descriptiondiv button:hover {
  background-color: ivory;
  color: #2d7b49;
}

.descriptiondiv {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: ivory;
  background-color: #3a783c;
  text-shadow: 2px 2px #729f81;
}

.feature {
  background-color: #3a783c;
  padding: 20px;
  margin: 5%;
  border-radius: 10px;
  opacity: 95%;
  width: 700px;
  height: 375px;
}

img {
  border-radius: 10px;
  margin: 10px;
}

img:hover {
  cursor: pointer;
  box-shadow: 10px 10px #729f81;
  transition-duration: 0.4s;
}

.feature button {
  background-color: transparent;
  border: 2px solid ivory;
  color: ivory;
}

.feature button:hover {
  background-color: ivory;
  color: #2d7b49;
}

.feature h1 {
    text-align: center;
    color: ivory;
    font-size: 30px;
    margin: 10px;
}

.blog-flex {
  background-color: ivory;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  text-align: justify;
}

.footer {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: ivory;
  background-color: #3a783c;
  text-shadow: 2px 2px #729f81;
  text-align: center;
}
