<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login | Chemag</title>
	<link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="navbar">
        <img src="chemag-trading-logo.jpg" />

        <div class="navbar-right">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
   </div>
        <div class = "login-container">
            <h1>Login</h1>
            <form action="/login" method="post">

                <label>Email Address</label>
                <br>
                <input type="text" name="email"><br><br>
                
                <label>Password</label>
                <br>
                <input type="password" name="password"><br><br>
                <input type = "submit">
            </form>
            

            Not yet a part?
            <a href="/signup">Sign Up</a>
            <br>
            <br>
    </div>

    <div class="footer">
        <p>Copyright &#169 2023 Chemag Trading Corporation</p>
    </div>

</body>
</html>