<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Account | Chemag</title>
	<link rel="stylesheet" href="/css/loginstyle.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="navbar">
        <img src="chemag-trading-logo.jpg" class="img_logo"/>

        <div class="navbar-right">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/home">Home</a></li>
            </ul>
        </div>
   </div>

        <div class = "sign-container">
            <h1>Create Account</h1>
            <form action="/signup" method="post">

                <label>Company Name</label>
                <br>
                <input type="text" name="cname"><br><br>
                
                <label>Enter Email Address</label>
                <br>
                <input type="text" name="email"><br><br>
                
                <label>Password</label>
                <br>
                <input type="password" name="password"><br><br>
                <input type ="submit">
            </form>
            <br>
            <br>
            <br>
        </div>

        <div class="footer">
            <p>Copyright &#169 2023 Chemag Trading Corporation</p>
        </div>
</body>
</html>